p {
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 16px;
    border-top-left-radius: 16px;
    border: 10px solid black;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 36px;
    padding-left: 46px;
    background: lightgrey;
    font-size: 14px;
    color: black;
}